<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/shop.css">

    <title>La boutique</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <form action="/shop">
            <select name="cat">
                <option value="">Toutes les categories</option>
                <% for(let c of categories) { %>
                    <% if(c === category) { %>
                        <option selected value="<%= c %>"><%= c %></option>
                    <% } else { %>
                        <option value="<%= c %>"><%= c %></option>
                    <% } %>
                <% } %>
            </select>
            <button>Rechecher</button>
        </form>
        <div class="products">
            <% for(let item of products) { %>
               <%- include('partials/card.ejs', {item}) %>
            <% } %>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>